html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

.content{
    margin-bottom: 40px;
}

.footer {
    margin-top: auto;
    background-color: #f5f5f5;
}

.footer .container .row div {
    margin-top: 2em;
}

dd {
    margin-bottom: 0;
}

