version: '2.1'
services:

  nginx:
    container_name: nginx
    image: nginx:1.11-alpine
    restart: always
    ports:
      - "80:80"
      - "443-446:443-446"
      - "8081:8081"
      - "8888:8888"
      - "9000:9000"
    command: /bin/sh -c "nginx -g 'daemon off;'"
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
      - ${STCS_CONFIG_FOLDER-./../config}/nginx/config.env
    environment:
      USER_NAME: nginx
    volumes:
      # nginx config files
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/http.conf:/etc/nginx/http.conf
      - ${STCS_CONFIG_FOLDER-./../config}/nginx/conf.d:/etc/nginx/conf.d
      # password files
      - ${STCS_CONFIG_FOLDER-./../config}/nginx/htpasswd:/etc/nginx/htpasswd
      # certificates
      - ${STCS_CONFIG_FOLDER-./../config}/nginx/certs/server.crt:/etc/nginx/certs/server.crt
      - ${STCS_CONFIG_FOLDER-./../config}/nginx/certs/server.key:/etc/nginx/certs/server.key
      # static_html
      - ./static_html:/var/www
      - ${STCS_CONFIG_FOLDER-./../config}/monitor/technical/js/config.js:/var/www/monitor/technical/js/config.js
    networks:
      default:
      jupyter-notebook:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  portainer:
    container_name: portainer
    image: portainer/portainer
    restart: always
    privileged: true
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  zookeeper:
    container_name: zookeeper
    image: biggis/zookeeper:3.4.6
    restart: always
    hostname: zookeeper
    ports:
      - "2181:2181"
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
    environment:
      USER_NAME: zookeeper
    volumes:
      - zookeeper-data:/tmp/zookeeper/data
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  kafka:
    container_name: kafka
    image: biggis/kafka:0.10.1.1
    restart: always
    hostname: kafka
    ports:
      - "9092:9092"
    depends_on:
      zookeeper:
        condition: service_healthy
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
      - ${STCS_CONFIG_FOLDER-./../config}/kafka/config.env
    environment:
      USER_NAME: kafka
    volumes:
      - kafka-data:/tmp/kafka/data
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  kafka-manager:
    container_name: kafka-manager
    image: sheepkiller/kafka-manager
    hostname: kafka-manager
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      APPLICATION_SECRET: letmein
      ZK_HOSTS: "zookeeper:2181"
      KM_VERSION: 1.3.3.4
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  postgres:
    container_name: postgres
    image: biggis/postgres:9.6
    restart: always
    hostname: postgres
    ports:
      - "5432:5432"
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
      - ${STCS_CONFIG_FOLDER-./../config}/postgres/config.env
    environment:
      USER_NAME: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres-data:/var/lib/postgresql/data/pgdata
      - ${STCS_CONFIG_FOLDER-./../config}/postgres/postgresql.conf:/var/lib/postgresql/data/pgdata/postgresql.conf
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  pgadmin:
    container_name: pgadmin
    image: fenglc/pgadmin4:1.3
    restart: always
    hostname: pgadmin4
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
    environment:
      USER_NAME: pgadmin
      PORT: 5050
    volumes:
      - pgadmin-data:/root/.pgadmin
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  jupyter-notebook:
    container_name: jupyter-notebook
    image: smueller18/base:anaconda3
    restart: always
    hostname: jupyter-notebook
    volumes:
      - jupyter-notebook-data:/opt/notebooks
    networks:
      jupyter-notebook:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  consumer-postgres:
    container_name: consumer-postgres
    image: smueller18/stcs:python3
    restart: always
    hostname: consumer-postgres
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
      - ${STCS_CONFIG_FOLDER-./../config}/consumer/postgres/config.env
    environment:
      USER_NAME: consumer-postgres
    command: ["python", "/opt/consumer.py"]
    volumes:
      - ./consumer/postgres:/opt
      - ./avro/schema/kafka.timestamp-data.avsc:/opt/kafka.timestamp-data.avsc
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  consumer-cache-rest:
    container_name: consumer-cache-rest
    image: smueller18/stcs:python3
    restart: always
    hostname: consumer-cache-rest
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
      - ${STCS_CONFIG_FOLDER-./../config}/consumer/cache-rest/config.env
    environment:
      USER_NAME: consumer-cache-rest
    command: ["python", "/opt/consumer.py"]
    volumes:
      - ./consumer/cache-rest:/opt
      - ./avro/schema/kafka.timestamp-data.avsc:/opt/kafka.timestamp-data.avsc
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  consumer-web-redirect:
    container_name: consumer-web-redirect
    build: ./consumer/web-redirect
    image: smueller18/stcs:python3
    restart: always
    hostname: consumer-web-redirect
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
      - ${STCS_CONFIG_FOLDER-./../config}/consumer/web-redirect/config.env
    environment:
      USER_NAME: consumer-web-redirect
    command: ["python", "/opt/consumer.py"]
    volumes:
      - ./consumer/web-redirect:/opt
      - ./avro/schema/kafka.timestamp-data.avsc:/opt/kafka.timestamp-data.avsc
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

#  producer-rolling-median:
#    container_name: producer-rolling-median
#    build: ./producer/rolling-median
#    image: smueller18/producer:rolling-median
#    restart: always
#    hostname: producer-rolling-median
#    env_file:
#      - ${STCS_CONFIG_FOLDER-./../config}/global.env
#      - ${STCS_CONFIG_FOLDER-./../config}/producer/rolling-median/config.env
#    environment:
#      USER_NAME: producer-rolling-median
#    volumes:
#      - ./avro/schema/kafka.timestamp-data.avsc:/avro/schema/kafka.timestamp-data.avsc
#    networks:
#      - default
#    logging:
#      driver: "json-file"
#      options:
#        max-size: "1m"
#        max-file: "1"

  producer-solar-radiation:
    container_name: producer-solar-radiation
    image: smueller18/stcs:python3
    restart: always
    hostname: producer-solar-radiation
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
     - ${STCS_CONFIG_FOLDER-./../config}/global.env
    environment:
     USER_NAME: producer-solar-radiation
    command: ["python", "/opt/producer.py"]
    volumes:
      - ./producer-solar-radiation:/opt
      - ./avro/schema/kafka.timestamp-data.avsc:/opt/kafka.timestamp-data.avsc
    networks:
      default:
    logging:
     driver: "json-file"
     options:
       max-size: "1m"
       max-file: "1"

  producer-weather-forecast-web:
    container_name: producer-weather-forecast-web
    restart: always
    hostname: producer-weather-forecast-web
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
      - ${STCS_CONFIG_FOLDER-./../config}/global.env
    environment:
      USER_NAME: producer-weather-forecast-web
    command: ["python", "/opt/producer.py"]
    volumes:
      - ${STCS_CONFIG_FOLDER-./../config}/producer/weather-forecast-web:/opt
      - ./avro/schema/kafka.timestamp-data.avsc:/opt/kafka.timestamp-data.avsc
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  flink-jobmanager:
    container_name: flink-jobmanager
    image: biggis/flink:1.2.0
    restart: always
    hostname: flink-jobmanager
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "6123:6123"
    command: docker-entrypoint.sh jobmanager
    environment:
      JOB_MANAGER_RPC_ADDRESS: flink-jobmanager
      USER_NAME: flink
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  flink-taskmanager:
    container_name: flink-taskmanager
    image: biggis/flink:1.2.0
    restart: always
    hostname: flink-taskmanager
    depends_on:
      - flink-jobmanager
    command: docker-entrypoint.sh taskmanager
    environment:
      JOB_MANAGER_RPC_ADDRESS: flink-jobmanager
      USER_NAME: flink
    networks:
      default:
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"


networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/24
  jupyter-notebook:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.1.0/24

volumes:
  zookeeper-data:
  kafka-data:
  postgres-data:
  pgadmin-data:
  jupyter-notebook-data:
