html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  margin-bottom: 40px;
}

.footer {
    margin-top: auto;
    background-color: #000000;
}

.footer .container .row div {
    margin-top: 2em;
}

a,dl,dd {
    font-family: "Verdana";
    margin-bottom: 0;
    color: #FFFFFF;
}
