.loading {
	position: relative;
	width: 78px;
	height:78px;
	margin: 3em auto;
}

.loading > .ball {
	position: absolute;
	width: 74px;
	height: 74px;
	opacity: 0;
	transform: rotate(225deg);
	animation: orbit 6.96s infinite;
}

.loading > .ball > .innerBall {
	position: absolute;
	width: 10px;
	height: 10px;
	background: rgb(0,0,0);
	left: 0px;
	top: 0px;
	border-radius: 10px;
}

.loading > .ball1 {
	animation-delay: 1.52s;
}

.loading > .ball2 {
	animation-delay: 0.3s;
}

.loading > .ball3 {
	animation-delay: 0.61s;
}

.loading > .ball4 {
	animation-delay: 0.91s;
}

.loading > .ball5 {
	animation-delay: 1.22s;
}

@keyframes orbit {
	0% {
		opacity: 1;
		z-index: 99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin: 0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin: 7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin: 30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin: 39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin: 70%;
	}

	76% {
	opacity: 0;
		transform: rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}
